@using RCM.Model.Complex.DashBoard.SystemManagement.User
@using RCM.Model.Domain
@using RCM.WebUI.MvcHelper
@using RCM.Model.Multiple
@using Core.Utilities.Common
@using System.Configuration
@using System.Collections.Specialized
@{
    //Layout = null;

    ViewBag.Title = "Kullanicilar";

    List<Branch> brchs = SessionManager.AllBranchs;
    List<AuthorityType> ats = SessionManager.AllAuthorityTypes;
    List<UserListForDataTableVm> userList = SessionManager.AllUserList;
    NameValueCollection appSettings = ConfigurationManager.AppSettings;
}

@model DashBoardMm

<h3>KULLANICI YÖNETİMİ</h3>

<div id="userPage" class="row">
    <div class="col-md-12">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">Yeni Kullanıcı Ekle</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- jquery validation -->
                        <div class="card card-primary">
                            <!-- form start -->
                            <form id="frmCreateUser">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Kullanıcı Adı</label>
                                        @*<input type="text" name="fullName" class="form-control" id="txtFullName" placeholder="Ad-Soyad Giriniz">*@
                                        @Html.TextBoxFor(x => x.CreateNewUserVm.FirstName, new { id = "txtFirstName", name = "firstName", @class = "form-control", placeholder = "Ad Giriniz" })
                                    </div>
                                    <div class="form-group">
                                        <label>Kullanıcı Soyadı</label>
                                        @*<input type="text" name="fullName" class="form-control" id="txtFullName" placeholder="Ad-Soyad Giriniz">*@
                                        @Html.TextBoxFor(x => x.CreateNewUserVm.LastName, new { id = "txtLastName", name = "lastName", @class = "form-control", placeholder = "Soyad Giriniz" })
                                    </div>
                                    <div class="form-group">
                                        <label>Kullanıcı Telefon Numarası</label>
                                        @*<input type="text" name="fullName" class="form-control" id="txtFullName" placeholder="Ad-Soyad Giriniz">*@
                                        @Html.TextBoxFor(x => x.CreateNewUserVm.Phone, new { id = "txtPhone", name = "phone", @class = "form-control", placeholder = "Telefon No Giriniz" })
                                    </div>
                                    <div class="form-group">
                                        <label>Email Adresi</label>
                                        @*<input type="email" name="email" class="form-control" id="txtEmail" placeholder="Email Adresi Giriniz">*@
                                        @Html.TextBoxFor(x => x.CreateNewUserVm.Email, new { id = "txtEmail", name = "email", @class = "form-control", placeholder = "Email Adresi Giriniz" })
                                    </div>
                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Yetkili Olduğu Şubeyi Seçiniz:</label>
                                                    @*<select id="allbranchList" class="form-control select2bs4" style="width: 100%;">
                                                            <option value="0" selected="selected"> </option>-->
                                                                                                        <option> </option>

                                                        </select>*@
                                                    @Html.DropDownListFor(x => x.CreateNewUserVm.BranchID, new SelectList(brchs, "BId", "Name"), "-----Şubeler-----", new { @class = "form-control select2bs4", id = "allbranchList", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Yetki Türünü Seçiniz:</label>
                                                    @Html.DropDownListFor(x => x.CreateNewUserVm.AuthrtyID, new SelectList(ats, "ATId", "Type"), "-----Yetkiler-----", new { @class = "form-control select2bs4", id = "allauthrtyList", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button id="btnSave" type="button" class="btn btn-primary">Kullanıcıyı Ekle</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div id="currentUser" class="row">
    <div class="col-md-12">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">Kayıtlı Kullanıcılar</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tblUsers" class="table table-bordered table-striped " style="width:100%">
                        <thead>
                            <tr>
                                <th>#ID</th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Kullanıcı adı</th>
                                <th>Telefon</th>
                                <th>Email</th>
                                <th>Şifre</th>
                                <th>Aktif/Pasif</th>
                                <th>Oluşturulma Tarihi</th>
                                <th>Değişiklik Tarihi</th>
                                <th>Düzenle</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (UserListForDataTableVm item in userList)
                            {
                                <tr adminId="@item.UId">
                                    <td>
                                        <span id="spnId">@item.UId</span>
                                    </td>
                                    <td>
                                        <span id="spnFirstName">@item.FirstName</span>
                                    </td>
                                    <td>
                                        <span id="spnLastName">@item.LastName</span>
                                    </td>
                                    <td>
                                        <span id="spnUserName">@item.UserName</span>
                                    </td>
                                    <td>
                                        <span id="spnPhone">@item.Phone</span>
                                    </td>
                                    <td>
                                        <span id="spnEmail">@item.Email</span>
                                    </td>
                                    <td>
                                        <span id="spnPassword">@CryptoHelper.AESDecrypt(item.Password, appSettings["Key"])</span>
                                    </td>
                                    <td>
                                        @{
                                            if (item.IsActive)
                                            {
                                                <span id="spnIsActive" class="badge bg-success" isActive="true" value="1">Aktif</span>
                                            }
                                            else
                                            {
                                                <span id="spnIsActive" class="badge bg-danger" isActive="false" value="0">Pasif</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        <span id="spnCrtdate">@item.CreatedTime.Value.ToString("d")</span>

                                    </td>
                                    <td>
                                        @{
                                            if (item.ModifiedTime.HasValue)
                                            {
                                                <span id="spnMdfdate">@item.ModifiedTime.Value.ToString("d")</span>
                                            }
                                            else
                                            {
                                                <span id="spnMdfdate"> - </span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        <a href="#myedit">
                                            <img id="imgEdit" class="imgedit" title="Değiştir" src="~/MyImages/DataTable/Edit.ico" style="width:25px;" adminId="@item.UId" />
                                        </a>
                                        <span>&nbsp;&nbsp;</span>
                                        <a href="#mydelete">
                                            <img id="imgDelete" class="imgdelete" title="Sil" src="~/MyImages/DataTable/Delete.ico" style="width:30px;" adminId="@item.UId" />
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#ID</th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Kullanıcı adı</th>
                                <th>Telefon</th>
                                <th>Email</th>
                                <th>Şifre</th>
                                <th>Aktif/Pasif</th>
                                <th>Oluşturulma Tarihi</th>
                                <th>Değişiklik Tarihi</th>
                                <th>Düzenle</th>

                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>


<div class="modal fade" id="divEditUser" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-info">
            <div class="modal-header">
                <h4 class="modal-title">Kullanıcı Bilgileri</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <form id="modalForm" role="form">
                                <input type="hidden" id="hfAdminIdEdit" />
                                <input type="hidden" id="rowIndex" />
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Ad</label>
                                        @*<input type="text" class="form-control" id="txtFullNameEdit" placeholder="Ad Soyad">*@
                                        @Html.TextBoxFor(x => x.UpdateUserVm.FirstName, new { id = "txtFirstNameEdit", @class = "form-control", placeholder = "Ad Giriniz" })
                                    </div>
                                    <div class="form-group">
                                        <label>Soyad</label>
                                        @*<input type="text" class="form-control" id="txtFullNameEdit" placeholder="Ad Soyad">*@
                                        @Html.TextBoxFor(x => x.UpdateUserVm.LastName, new { id = "txtLastNameEdit", @class = "form-control", placeholder = "Soyad Giriniz" })
                                    </div>
                                    <div class="form-group">
                                        <label>Kullanıcı adı</label>
                                        @*<input type="text" class="form-control" id="txtFullNameEdit" placeholder="Ad Soyad">*@
                                        @Html.TextBoxFor(x => x.UpdateUserVm.UserName, new { id = "txtUserNameEdit", @class = "form-control", placeholder = "Kullanıcı Adı Giriniz" })
                                    </div>
                                    <div class="form-group">
                                        <label>Telefon</label>
                                        @*<input type="text" class="form-control" id="txtFullNameEdit" placeholder="Ad Soyad">*@
                                        @Html.TextBoxFor(x => x.UpdateUserVm.Phone, new { id = "txtPhoneEdit", @class = "form-control", placeholder = "Telefon No Giriniz" })
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        @*<input type="email" class="form-control" id="txtEmailEdit" placeholder="Email">*@
                                        @Html.TextBoxFor(x => x.UpdateUserVm.Email, new { id = "txtEmailEdit", @class = "form-control", placeholder = "Email Adresi Giriniz" })
                                    </div>
                                    <div class="form-group">
                                        <label>Şifre</label>
                                        @*<input type="text" class="form-control" id="txtFullNameEdit" placeholder="Ad Soyad">*@
                                        @Html.PasswordFor(x => x.UpdateUserVm.Password, new { id = "txtPasswordEdit", @class = "form-control", placeholder = "Şifre Giriniz" })
                                    </div>
                                    <div class="form-group">
                                        <label>Durum</label>
                                        <input type="radio" name="IsActive" id="rdbActive" /> AKTİF
                                        <input type="radio" name="IsActive" id="rdbPassive" /> PASİF
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" id="btnCloseModel" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" id="btnEdituser" class="btn btn-secondary" userUpdate="useredit">Güncelle</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section bottomscripts
{
}
