@using RCM.Model.Complex.DashBoard.ChangesByUser.UserInfo


@model ProfileEditVm
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Öncü | Yönetim</title>
    <link rel="icon" type="image/png" href="~/MyImages/Layout/oncu.ico" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Content/plugins/AdminLte/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/plugins/AdminLte/css/tempusdominus-bootstrap-4.min.css">
    <link href="~/Content/plugins/AdminLte/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/AdminLte/css/select2-bootstrap4.min.css" rel="stylesheet" />
    <!-- Toastr -->
    <link href="~/Content/plugins/AdminLte/css/toastr.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/plugins/AdminLte/css/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    @*<link rel="stylesheet" href="~/Content/plugins/AdminLte/css/jqvmap.min.css">*@
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/plugins/AdminLte/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/plugins/AdminLte/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/plugins/AdminLte/css/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/plugins/AdminLte/css/summernote-bs4.min.css">

    <link href="~/Content/plugins/sweetalert/sweetalert2.css" rel="stylesheet" />

    @RenderSection("styles", false)
    @RenderSection("scripts", false)


    @*----------------------AdminLte data table--------------------*@
    <link rel="stylesheet" href="~/Content/plugins/AdminLte/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/AdminLte/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/AdminLte/css/buttons.bootstrap4.min.css">
    <link href="~/Content/plugins/AdminLte/css/datatables.min.css" rel="stylesheet" />
    @*------------------------------------------------------------*@
    <script src="~/Content/plugins/AdminLte/js/jquery.min.js"></script>

</head>
<body class="hold-transition sidebar-collapse layout-fixed layout-fixed-top-navbar layout-navbar-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        @Html.Partial("MainPartial/_MainHeader")
        <!-- Main Sidebar Container -->
        @Html.Partial("MainPartial/_LeftMainSideBar")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="background-color:cornsilk">
            <!-- Main content -->
            <div id="page-content" class="content">
                <br />
                <div id="dashPage" class="container-fluid">

                    @RenderBody()
                    <!-- /.container-fluid -->
                </div>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <!-- Control Sidebar -->
            @Html.Partial("MainPartial/_RightControlSideBar")
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <!-- Main Footer -->
        @Html.Partial("MainPartial/_MainFooter")
    </div>

    @* -----------------User Profile Change Modal Div------------*@
    <div class="modal fade" id="divChangeUserProfile" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-cyan">
                <div class="modal-header">
                    <h4 class="modal-title">Kullanıcı Bilgileri</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <form id="mdlUserInfoForm" role="form">
                                    <input type="hidden" id="hiAdminIdEdit" />
                                    <input type="hidden" id="hirowIndex" />
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Kullanıcı Adı</label>
                                            @*<input type="text" class="form-control" id="txtProfileFullName" placeholder="Ad Soyad">*@
                                            @Html.TextBoxFor(x => x.UserName, new { id = "txtProfileUserName", type = "text", @class = "form-control", placeholder = "Kullanıcı Adı Giriniz" })
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            @*<input type="email" class="form-control" id="txtProfileEmail" placeholder="Email">*@
                                            @Html.TextBoxFor(x => x.Email, new { id = "txtProfileEmail", type = "text", @class = "form-control", placeholder = "Email Adresi Giriniz" })
                                        </div>
                                        <div class="form-group">
                                            <label>Şifre</label>
                                            @*<input type="password" class="form-control" id="txtProfilePassword" placeholder="Şifre">*@
                                            @Html.PasswordFor(x => x.Password, new { id = "txtProfilePassword", @type = "password", @class = "form-control", placeholder = "Şifre giriniz" })
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" id="btnCloseModel" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="button" id="btnUpdateUser" class="btn btn-secondary" userUpdate="useredit">Güncelle</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/plugins/AdminLte/js/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/AdminLte/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/plugins/AdminLte/js/select2.full.min.js"></script>
    <script src="~/Content/plugins/AdminLte/js/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- Toastr -->
    <script src="~/Content/plugins/AdminLte/js/toastr.min.js"></script>
    <!-- InputMask -->
    <script src="~/Content/plugins/AdminLte/js/moment.min.js"></script>
    <script src="~/Content/plugins/AdminLte/js/jquery.inputmask.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Content/plugins/AdminLte/js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Content/plugins/AdminLte/js/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Content/plugins/AdminLte/js/jquery.vmap.min.js"></script>
    <script src="~/Content/plugins/AdminLte/js/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/plugins/AdminLte/js/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Content/plugins/AdminLte/js/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Content/plugins/AdminLte/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Content/plugins/AdminLte/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/Content/plugins/AdminLte/js/bootstrap-switch.min.js"></script>
    <!-- Summernote -->
    <script src="~/Content/plugins/AdminLte/js/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Content/plugins/AdminLte/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    @*<script src="~/Content/plugins/AdminLte/js/adminlte.min.js"></script>*@
    <script src="~/Content/plugins/AdminLte/js/adminlte.js"></script>
    <!-- Toastr -->
    <script src="~/Content/plugins/AdminLte/js/toastr.min.js"></script>

    <script src="~/Content/plugins/AdminLte/js/pdfmake.min.js"></script>
    <!-- sw2 -->
    <script src="~/Content/plugins/sweetalert/sweetalert2.js"></script>

    <!-- Client side validation -->
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    @*-----adminLte table-------My datatable version : 1.10.24--------*@

    @*DataTables  & Plugins*@
    <script src="~/Content/plugins/AdminLte/js/datatables.min.js"></script>
    <script src="~/Content/plugins/AdminLte/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/AdminLte/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/AdminLte/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/AdminLte/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/AdminLte/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/AdminLte/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/AdminLte/js/jszip.min.js"></script>
    <script src="~/Content/plugins/AdminLte/js/vfs_fonts.js"></script>
    <script src="~/Content/plugins/AdminLte/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/AdminLte/js/buttons.print.min.js"></script>
    <script src="~/Content/plugins/AdminLte/js/buttons.colVis.min.js"></script>

    @*--------------------MyScripts--------------------------*@
    <script type="text/javascript" src="~/MyScripts/SystemManagement/1_User/CRUD_User.js"></script>
    <script src="~/MyScripts/Layout/UserEditDropdown.js"></script>
    <script src="~/MyScripts/Sales/ShowQuickSale.js"></script>
    <script src="~/MyScripts/Helper/DataTable.js"></script>
    <script src="~/MyScripts/Helper/SelectListSearchTheme.js"></script>

    @RenderSection("bottomscripts", false)

</body>
</html>
